body {
  margin: 0;
  overflow: hidden;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  color: white;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(180deg, #1e1e1e, #000);
  background-size: cover;
  background-position: center;
}

#weatherText {
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 1px 1px 5px #000;
  padding: 10px;
}
